@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-dark-charcoal: #333333;
  --color-basalt-grey: #999999;
  --color-cerebral-grey: #cccccc;
  --color-silver-sand: #c4c4c4;
  --color-white-chinese: #e1e1e1;
  --color-brown-bistre: #A47312;
  --color-gold-satin-sheen: #cc9933;
  --color-gold-crayola: #E9C479;
  --color-white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #e5e5e5;
}

body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

form {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

section {
  margin-bottom: 70px;
}

section:last-child {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.header {
  display: flex;
  margin: 30px auto 70px;
  min-width: 1170px;
}

.header-info {
  display: flex;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 30px;
  width: 1170px;
  min-height: 54px;
}

.header-logo {
  margin-right: 34px;
}

.header-tel {
  margin-right: auto;
  margin-left: 0;
  min-width: 164px;
  min-height: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #666666;
}

.link, .contacts-link {
  transition: color .3s ease-in-out, outline .3s linear;
}

.link:focus, .contacts-link:focus {
  color: var(--color-gold-satin-sheen);
  outline: 1px solid var(--color-gold-satin-sheen);
  outline-offset: 4px;
}

.link:hover {
  color: var(--color-gold-satin-sheen);
}

.contacts-link:hover {
  color: var(--color-gold-crayola);
}

.link:active,
.contacts-link:active {
  color: var(--color-brown-bistre);
}

.header-account {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: bottom;
  min-width: 155px;
  text-align: right;
  text-decoration: none;
  color: var(--color-gold-satin-sheen);
  transition: outline 0.6s linear;
  outline-offset: 4px;
}

.header-account:focus {
  outline: 1px solid var(--color-gold-satin-sheen);
}

.header-account .account-arrow path {
  transition: fill .3s ease-in-out;
}

.header-account:focus .account-arrow path {
  fill: var(--color-gold-satin-sheen);
}

.header-account:hover .account-arrow path {
  fill: var(--color-gold-crayola);
}

.header-account:active .account-arrow path {
  fill: var(--color-brown-bistre);
}

.header-account .header-account-text {
  transition: color .3s ease-in-out;
}

.header-account:focus .header-account-text {
  color: var(--color-gold-satin-sheen);
}

.header-account:hover .header-account-text {
  color: var(--color-gold-crayola);
}

.header-account:active .header-account-text {
  color: var(--color-brown-bistre);
}

.header-account-text {
  margin-top: 4px;
}

.header-box {
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: 1170px;
  min-height: 70px;
  background-color: var(--color-white);
}

.header-nav {
  display: flex;
  margin-right: auto;
  min-height: 70px;
}

.header-list {
  display: flex;
  align-items: center;
  min-height: 70px;
  list-style: none;
}

.header-list-item:first-child {
  margin-left: 45px;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-link-about {
  min-width: 44px;
}

.header-link-services {
  min-width: 52px;
}

.header-link-privileges {
  min-width: 115px;
}

.header-link-placement {
  min-width: 96px;
}

.header-link-blog {
  min-width: 37px;
}

.header-link-contacts {
  min-width: 73px;
  line-height: 50px;
}

.vertical-line {
  margin: 10px 0 0 56px;
  width: 1px;
  height: 50px;
  background-color: var(--color-white-chinese);
  border: none;
}

.btn {
  border: 1px solid var(--color-gold-satin-sheen);
  border-radius: 10px;
  font-size: 16px;
  line-height: 1;
  color: var(--color-gold-satin-sheen);
  background-color: transparent;
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s linear;
}

.btn:not(:last-child) {
  font-weight: 400;
}

.btn:focus,
.btn:hover {
  color: var(--color-white);
  background-color: var(--color-gold-satin-sheen);
}

.btn:active {
  color: var(--color-white);
  background-color: var(--color-brown-bistre);
}

.header-btn {
  padding: 13px 20px;
  min-height: 42px;
}

.header-btn-tour {
  margin-right: 40px;
  min-width: 107px;
}

.header-btn-callback {
  margin-right: 45px;
  min-width: 177px;
}

.main {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  pointer-events: none;
}

.specials {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.section-title {
  margin-top: 0;
  margin-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-dark-charcoal);
}

.specials-title {
  margin-bottom: 20px;
}

.specials-container {
  display: flex;
  padding: 0;
}

.specials-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 23px;
  width: 573px;
  min-height: 540px;
}

.specials-card {
  position: relative;
  padding: 40px 234px 40px 40px;
  border-radius: 15px;
}

.item {
  border-radius: 15px;
  overflow: hidden;
}

.offer-1,
.offer-2,
.offer-3 {
  min-height: 258px;
  background: 0 0 / cover no-repeat;
}

.offer-1 {
  margin-bottom: 22px;
  max-height: 258px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/specials_box_top.jpg");
}

.offer-2 {
  max-height: 258px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/specials_box_bottom.jpg");
}

.offer-3 {
  padding: 210px 234px 40px 40px;
  height: 100%;
}

.specials-text {
  margin-top: 0;
  font-weight: 700;
  color: var(--color-white);
}

.specials-text-left {
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 40px;
}

.specials-price {
  color: var(--color-white);
}

.specials-price-left,
.specials-price-right {
  margin-top: 0;
  margin-bottom: 46px;
}

.specials-price-left {
  font-size: 20px;
  line-height: 20px;
}

.specials-link {
  display: inline-block;
  padding-right: 16px;
  line-height: 16px;
  color: #ffcc66;
  background: url("../img/preview-arrow.svg") right no-repeat;
}

.link-card {
  transition: color .3s ease-in-out, outline 0.6s linear;
}

.link-card::before {
  position: absolute;
  content: "";
  top: 0;
  right: 16px;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  outline-offset: 8px;
}

.link-card:focus::before {
  outline: 1px solid var(--color-gold-satin-sheen);
}

.link-card:active {
  color: var(--color-white);
}

.specials-right {
  position: relative;
  border-radius: 15px;
  min-width: 573px;
  min-height: 540px;
  background: url("../img/specials_box_room.jpg") 0 0 / cover no-repeat;
}

.specials-text-right {
  margin-bottom: 15px;
  font-size: 60px;
  line-height: 60px;
}

.specials-price-right {
  font-size: 30px;
  line-height: 30px;
  color: var(--color-white);
}

.about-title {
  margin-bottom: 10px;
}

.about-descr {
  width: 888px;
  height: 180px;
  line-height: 32px;
}

.section-descr {
  margin: 0;
  padding: 0;
  line-height: 2;
}

.services {
  display: flex;
  flex-direction: column;
}

.services-title {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 573px;
  height: 330px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 23px;
}

.services-preview {
  display: inline-block;
  padding: 191px 126px 50px 45px;
  border-radius: 15px;
  height: 330px;
  background: center top / 573px 165px no-repeat var(--color-white);
}

.services-bg-1 {
  background-image: url("../img/services_1.jpg");
}

.services-bg-2 {
  background-image: url("../img/services_2.jpg");
}

.services-bg-3 {
  background-image: url("../img/services_3.jpg");
}

.services-bg-4 {
  background-image: url("../img/services_4.jpg");
}

.services-article-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  transition: outline 0.6s linear;
}

.services-article-link .services-preview-arrow path {
  transition: stroke .3s ease-in-out;
}

.services-article-link:focus .services-preview-arrow path {
  stroke: var(--color-gold-satin-sheen);
}

.services-article-link:hover .services-preview-arrow path {
  stroke: var(--color-gold-crayola);
}

.services-article-link:active .services-preview-arrow path {
  stroke: var(--color-brown-bistre);
}

.services-article-link .services-preview-title {
  transition: color .3s ease-in-out;
}

.services-article-link:focus .services-preview-title {
  color: var(--color-gold-satin-sheen);
}

.services-article-link:hover .services-preview-title {
  color: var(--color-gold-crayola);
}

.services-article-link:active .services-preview-title {
  color: var(--color-brown-bistre);
}

.services-article-link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  outline-offset: 8px;
}

.services-article-link:focus::before {
  outline: 1px solid var(--color-gold-satin-sheen);
}

.services-preview-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 40px;
  color: var(--color-gold-satin-sheen);
}

.services-preview-arrow {
  margin-left: 6px;
}

.services-preview-descr {
  line-height: 32px;
}

.privileges {
  display: flex;
  flex-direction: column;
}

.privileges-title {
  margin-bottom: 30px;
}

.privileges-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.privileges-item {
  padding: 40px 42px 40px 45px;
  max-width: 275px;
  height: 275px;
  background-color: var(--color-white);
}

.privileges-item:not(:nth-child(n+9)) {
  margin-bottom: 20px;
}

.privileges-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.privileges-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.privileges-item-icon:not(:nth-child(n+5)) {
  padding-bottom: 10px;
}

.privileges-item-icon:nth-child(n+5) {
  padding-bottom: 8px;
}

.privileges-item-descr {
  display: block;
}

.placement {
  display: flex;
  flex-direction: column;
}

.placement-title {
  margin-bottom: 30px;
}

.placement-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.placement-item {
  display: flex;
  max-width: 374px;
  min-height: 440px;
  background-color: var(--color-white);
}

.placement-item:last-child {
  max-width: 373px;
}

.placement-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 23px;
}

.placement-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.placement-picture {
  margin-bottom: 36px;
}

.point-text {
  padding: 0 45px 40px;
}

.point-wrapper {
  display: flex;
  align-content: flex-start;
  width: 255px;
}

.point-hotel-name,
.point__location {
  margin: 0;
}

.point-price {
  margin: 0 0 16px 0;
  min-width: 145px;
}

.from {
  margin: 0;
  padding: 0;
  color: var(--color-basalt-grey);
}

.point-number {
  margin: 0;
  padding: 0;
  max-width: 144px;
  font-weight: 700;
  font-size: 18px;
}

.night {
  margin: 0;
  padding: 0;
}

.point-stars {
  margin: 0 45px 19px 45px;
  min-width: 86px;
}

.point-hotel-name {
  margin-bottom: 16px;
  max-width: 269px;
  line-height: 16px;
}

.point-location {
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 284px;
  line-height: 16px;
  color: var(--color-basalt-grey);
}

.placement-btn {
  padding: 13px 20px;
  min-width: 100px;
  min-height: 42px;
}

.point-bg-image {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 373px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/location_full.jpg") 0 0 / cover;
}

.view-all-link {
  margin-bottom: 27px;
  padding-right: 16px;
  max-width: 266px;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-white);
  background: url("../img/view-all-arrow.svg") right center / auto no-repeat;
  transition: color .3s ease-in-out;
}

.view-all-link::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.view-all-link:focus {
  color: var(--color-gold-satin-sheen);
}

.view-all-link:hover {
  color: var(--color-gold-satin-sheen);
}

.view-all-link:active {
  color: var(--color-brown-bistre);
}

.tour {
  display: flex;
  align-items: center;
  margin: 70px auto 70px;
  padding: 38px 45px 70px 43px;
  border-radius: 15px;
  width: 1170px;
  background-color: #e9e9e9;
}

.tour-title {
  margin-bottom: 19px;
  margin-left: 0;
}

.tour-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 31px 22px 32px;
  border-radius: 15px;
  width: 1080px;
  background-color: var(--color-white);
}

.tour-form-header {
  display: block;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 12px;
}

.option-header {
  padding-left: 4px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: url("../img/arrow-select.svg") no-repeat right center / 10px auto;
}

select::-ms-expand {
  display: none;
}

.tour-form label:not(:first-child) {
  border-left: 1px solid var(--color-white-chinese);
  height: 50px;
}

.tour-form label select {
  border: none;
  width: 169px;
  height: 25px;
}

.tour-form label [type=number] {
  border: none;
  border-bottom: 1px solid var(--color-cerebral-grey);
}

.tour-form-departure {
  padding-right: 20px;
  width: 169px;
}

.tour-form-arrival {
  padding: 0 20px;
  width: 190px;
}

.tour-form-date {
  padding: 0 20px;
}

.tour-form-date [type=date] {
  border: none;
  width: 142px;
  height: 25px;
}

.tour-form-night {
  padding: 0 20px;
}

.tour-form-night,
.tour-form-people {
  width: 145px;
}

.tour-form-people {
  padding-left: 20px;
  padding-right: 30px;
}

.tour-form-night input,
.tour-form-people input {
  border: none;
  width: 121px;
  height: 25px;
}

.tour-form-btn {
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-left: 1px solid var(--color-white-chinese);
  width: 129px;
  height: 50px;
}

.tour-btn {
  padding: 0;
  width: 108px;
  height: 42px;
}

.contacts-title {
  margin-bottom: 26px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  padding: 44px 44px 46px 46px;
  border-radius: 15px;
  height: 618px;
  background-color: var(--color-white);
}

.contacts-address {
  font-style: normal;
}

.contacts-item:not(:first-child) {
  padding-top: 25px;
}

.contacts-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-cerebral-grey);
  width: 375px;
}

.contacts-item-caption {
  margin: 0;
  width: 145px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.contacts-item-text {
  margin-bottom: 23px;
  width: 230px;
  font-size: 16px;
  line-height: 24px;
}

.contacts-item-tel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-link {
  width: fit-content;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gold-satin-sheen);
}

.contacts-item-text-mail {
  display: inline-block;
  color: var(--color-basalt-grey);
}

.btn-contacts {
  position: absolute;
  align-self: flex-end;
}

.contacts-btn {
  width: 213px;
  height: 70px;
  font-weight: 700;
}

.lagoona-office {
  width: 653px;
}

.footer {
  margin: 20px auto;
  border-radius: 15px;
  width: 1168px;
  height: 341px;
  background: url("../img/footer-logo.svg") 80% 100% / 255px no-repeat var(--color-dark-charcoal);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 51px 46px 52px;
  font-size: 16px;
  color: var(--color-white);
}

.footer-info-hotel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 44px;
  width: 320px;
  height: 251px;
}

.footer-descr {
  margin: 0;
  line-height: 1.9em;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 358px;
  height: 141px;
  line-height: 16px;
}

.footer-contacts,
.footer-media {
  margin-top: 51px;
}

.footer-contacts-link {
  display: flex;
  flex-direction: column;
}

.footer-media {
  height: 205px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  width: 183px;
  height: 205px;
  list-style: none;
}

.social-item {
  height: 25px;
}

.social-item:not(:first-child) {
  margin-top: 20px;
}

.social-link {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: center / contain no-repeat;
}

.social-link path {
  transition: fill .3s ease-in-out;
}

.social-link:focus path,
.social-link:hover path {
  fill: var(--color-gold-satin-sheen);
}

.social-link:active path {
  fill: var(--color-brown-bistre);
}

